<meta charset="utf-8">
	<div class="row">
		<!-- left column -->
		<div class="col-md-6">
			<div class="box box-primary" id="box1">
				<div class="box-header">
					<h3 class="box-title">Add Single Student</h3>
				</div>
				<!-- /.box-header -->

				<form role="form" id="addsinglestudent">
					<div class="box-body">
						<div class="form-group">
							<label for="batch">Batch </label> <select name="batch"
								class="form-control " required="required">
								<option disabled selected style="display: none;" value="">Select
									Batch</option>
								<option ng-repeat="x in options" value="{{x.value}}">{{x.label}}</option>
							</select> 
						</div>
						<div class="form-group">
							<label for="name">Name</label> <input id="name" name="name"
								type="text" placeholder="Student name"
								class="form-control input-md" required="required">
						</div>
						<div class="form-group">
							<label for="email">Email</label> <input id="email" name="email"
								type="email" placeholder="Email address"
								class="form-control input-md" required="required">
						</div>

					</div>
					<!-- /.box-body -->
					<br>
					<div class="box-footer">
						<button name="add" class=" btn btn-primary" type="submit">
							<b>ADD</b> <i class="glyphicon glyphicon-plus"></i>
						</button>
					</div>
				</form>
			</div>
		</div>


		<div class="col-md-6">
			
			<div class="box box-primary" id="box2">
				<div class="box-header">
					<h3 class="box-title">Add Multiple Students</h3>
				</div>
				<form enctype="multipart/form-data" id="addbatchform"
					onsubmit="fileUpload(this,'../AddMultipleStudent')">
					<div class="box-body">
						<div class="form-group">
							<label for="batch">Batch </label> <select id="batch" name="batch"
								class="form-control " required="required">
								<option disabled selected style="display: none;" value="">Select
									Batch</option>
								<option ng-repeat="x in options" value="{{x.value}}">{{x.label}}</option>
							</select> 
						</div>
						<div class="form-group">
							<label for="files">Student data</label> <input type="file"
							accept=".xlsx,.xls"	name="file" id="files" /><br /> <span class="help-block">
										Note:- Only  xlsx or xls format is alowed.<br><a href="../samples/student.xlsx">download</a> sample format. </span>
						</div>
					</div>

					<div class="box-footer">
						<button id="Add" name="add" class="btn btn-primary" type="submit">
							<b>ADD</b> <i class="glyphicon glyphicon-plus"></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

